* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header, footer {
    background: linear-gradient(-45deg,green, blue,yellow, grey);
    padding: 20px 0 20px 0;
}
header ul , footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li a , footer ul li a{
    margin: 0 0 0 20px;
    color: black;
    font-size: 23px;
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
}
main{
    display: flex;
    flex-direction: column;
    background: #0004ff;
}
h1 {
    text-align: center;
    color: yellow;
    font-weight: 400;
}
img {
    object-fit: scale-down;
}
